<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Epifi - Personal Loan Agreement</title>
        <!-- <link rel="stylesheet" href="./stylesheets/index_v5.css"> -->
        <link rel="stylesheet" href="https://epifi-icons.s3.ap-south-1.amazonaws.com/statement/assets/css/font.css" rel="preload"/>
        <style type="text/css">
            .footer {
                text-align: center;
                padding: 0px 80px;
                padding-top: 30px;
                font-size: smaller;
            }
        </style>
    </head>

    <body>
        <div class="footer">
            1st Floor, B-104, &quot;The Qube&quot; having C.T.S. No. 1498, A/2, M.V. Road, Hasan Pada Rd, Mittal Industrial Estate, Marol Andheri (East), Mumbai, Maharashtra 400059
        </div>
    </body>
</html>
