<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Epifi - Personal Loan Agreement</title>

    <link rel="stylesheet" href="https://epifi-icons.s3.ap-south-1.amazonaws.com/statement/assets/css/font.css" rel="preload" />

    <style type="text/css">
        body {
            border:0; 
            margin: 0;
            padding: 0;
        }

        .header-wrapper {
            margin: 0px 60px;
            overflow: hidden;
            height: 100%;
        }

        .liquidloans-logo {
            width: 170px;
        }
    </style>

</head>

<body>
    <div class="header-wrapper">
        <div class="header-image-wrapper">
            <img class="liquidloans-logo" src="https://dza2kd7rioahk.cloudfront.net/assets/pdf-templates/pl-kfs/Liquiloans.png" alt="Liquiloans" />
        </div>
    </div>
</body>

</html>
