/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Base Style */
:root {
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    -webkit-print-color-adjust: exact;
}

#target {
    margin: 0 auto;
    max-width: 840px;
}

.h1 {
    color: #000000;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.l0 {
    color: #000000;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.l1 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.main-cr {
    /* not using margin-top/margin-bottom as it is getting resetted with top/bottom flag of wkhtmltopdf */
    margin-left: 48px;
    margin-right: 48px;
}

.last-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.signature-photograph {
    width: 180px;
}

.pt-60 {
    padding-top: 60px;
}

.ta-center {
    text-align: center;
}

.td-underline {
    text-decoration: underline;
}