* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    box-sizing: inherit;
    margin: 0 auto;
}

a {
    all: unset;
    color: inherit;
    cursor: pointer;
    word-break: break-all;
}

.text-green {
    color: #00b899;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}
