// use https://chir.ag/projects/name-that-color to name the color
$color_shark: #262728;
$color_gray: #8D8D8D;
$color_white: #FFFFFF;
$color_mine-shaft: #383838;
$color_silver_chalice: #A4A4A4;
$color_black: #000000;
$color_wedgewood: #5684AE;
$color_geyser: #D9DEE3;
$color_emperor: #555555;

