<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Loan Agreement</title>
    <link rel="stylesheet" href="https://dza2kd7rioahk.cloudfront.net/assets/pdf-templates/loan-aggrement/stylesheets/footer.css" />
</head>

<body>
    <!-- Primary Header Template -->
    <div>
        <div class="main footer-text fs-12" style="padding-top: 10px">
            <span class="fw-bold">Corporate office:</span> Naman Chambers, C-32, G Block, Bandra East, Bandra Kurla
            Complex, Mumbai, Maharashtra 400051<br />
            <span class="fw-bold">Registered office:</span> KRM Tower, 7th Floor, No. 1, Harrington Road, Chetpet,
            Chennai, Tamil Nadu, 600031<br />
            <span class="fw-bold">Note:</span> This is a system generated letter and doesnot require signature.
        </div>
    </div>

</body>

</html>
