<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Loan Agreement</title>
    <link rel="stylesheet" href="https://dza2kd7rioahk.cloudfront.net/assets/pdf-templates/loan-aggrement/stylesheets/header.css" />
</head>

<body>
    <!-- Primary Header Template -->
    <div>
        <div class="main flex-right" style="padding-top: 15px">
            <img 
                class="logo-img"
                src="https://epifi-icons.s3.ap-south-1.amazonaws.com/assets/pdf-templates/loan-aggrement/idfc-logo.png"
                alt="Logo" 
            />
        </div>
    </div>


    <!-- import mustache.js library -->
    <script
        src="https://epifi-icons.s3.ap-south-1.amazonaws.com/pdf-templates/assets/scripts/mustache.js/4.0.1/mustache.min.js">
    </script>
</body>

</html>
