<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Epifi Wealth Terms & Conditions</title>
        <link rel="stylesheet" href="../../assets/fonts/font.css" />
        <link rel="stylesheet" href="assets/stylesheets/index.css" />
        <!-- <link rel="stylesheet" href="https://epifi-icons.s3.ap-south-1.amazonaws.com/pdf-templates/assets/fonts/font.css" /> -->
		<!-- <link rel="stylesheet" href="https://epifi-icons.s3.ap-south-1.amazonaws.com/pdf-templates/wealth-onboarding/assets/stylesheets/index.css" /> -->
    </head>
    <body>
        <div id="target">Loading...</div>

        <!-- Primary Content Template -->
        <script id="primary-content-template" type="x-tmpl-mustache">
            <div class="main-cr">
                <div class="h1 mb20">Epifi Wealth Terms & Conditions</div>

                <div class="l1">
                    You didn’t skip this section! As a gesture of our appreciation, here’s a one-liner description of
                    <span class="l1--v1">epiFi's Terms & Conditions:</span>
                    To establish what you can expect from us, as you use epiFi’s services, and what we require
                    from you.
                    </span>
                </div>

                <div class="l1 mt8">
                    We urge you to keep on reading, as it’s vital that you know, understand and comprehend our terms
                    and conditions (“T&Cs”). The T&Cs define our relationship with you – as we can only permit you to
                    use our services if you agree to follow these terms. The T&Cs also showcase the laws that apply to
                    our company, Epifi Wealth Private Limited (or Wealth).
                </div>

                <div class="l1 mt16">
                    For better clarity, these terms include the following topic headings:
                    <div class="ml16">
                        - General Terms
                        <br>
                        - ‘You’ and ‘Us’
                        <br>
                        - Definitions
                        <br>
                        - Obligations and Rights
                        <br>
                            - User
                        <br>
                            - Right
                        <br>
                        - Rights of Usage & Data Rights
                        <br>
                        - Notice
                        <br>
                        - Disclaimer of Liability
                        <br>
                        - Indemnity
                        <br>
                        - Governing Law
                        <br>
                        - Confidentiality
                        <br>
                        - Communication from Epifi
                        <br>
                        - Fees
                        <br>
                        - Assignment
                    </div>
                </div>

                <div class="h3 mt24 mb8">GENERAL TERMS</div>

                <div class="l1">
                    These general terms provide the outline of your access to the weblink: https://fi.money. It consists
                    of the mobile application (available in Android and iOS) by the name of “Epifi” (collectively,
                    “Platform”, and all mini-links within). It also covers the use of Services (as defined below)
                    provided to you (“You”, and “User” as the context may require) (as specified beneath) by Epifi
                    Wealth Private Limited (“Epifi”, “Company”, “We”, “Our” and “Us” as the context may require).
                    By accessing or using our weblink, services, platform, or mini-links, including all our content or
                    information shared there (“Our Content”), you acknowledge that you have read, understood and agreed
                    to be bound by our T&Cs. We politely insist that you read these T&Cs carefully. We only grant you a
                    limited, exclusive, non-assignable, and non-transferable license to access our content on the
                    express condition that you have agreed to abide by our T&Cs.
                    <br><br>
                    In addition to these T&Cs, our weblink, platform, or services may also contain separate terms and
                    conditions. We recommend that you read those additional terms and conditions carefully too. By
                    accessing our content, you agree to be bound by those terms and conditions as well.
                </div>

                <div class="h2 mt32 mb16">WHAT DO THESE TERMS PROVIDE?</div>

                <div class="h3 mt24 mb8">‘YOU’ AND ‘US’</div>

                <div class="l1">
                    As part of our endeavour to provide you with the best and updated services, we continuously strive
                    to improve them. Occasionally, this means we add or remove features and functionalities; increase
                    or decrease limits to our services; start offering new services or stop providing old ones. If we
                    make any material change(s) that negatively impact your use of our services, we will provide you
                    with reasonable advance notice. This is to ensure that you are not caught off-guard during such
                    rare instances.
                </div>

                <div class="break-before h3 mb8">DEFINITIONS</div>

                <div class="l1">
                    •&nbsp;&nbsp;Business Days means days in which banks are open for business in Mumbai (India),
                    New Delhi (India) and Bengaluru (India).
                    <br><br>
                    •&nbsp;&nbsp;SEBI means the Security and Exchange Board of India.
                    <br><br>
                    •&nbsp;&nbsp;Service(s) or Platform means and includes the following features in the mobile application and/or
                    website as provided by Epifi, collectively referred to as the “Services”:
                    <br><br>
                    <div class="ml16">
                        - Wealth and Financial management services
                        <br>
                        - Quick Response codes (also known as QR Codes)
                        <br>
                        - Fi Rewards
                        <br>
                        - Share Trading / Securities / PMS / Mutual Funds / Commodities (as permitted by SEBI)
                        <br>
                        - Advisory Services
                        <br>
                        - Insurance Products / Services (as permitted by IRDA)
                        <br>
                        - Credit Bureau and Scores
                        <br>
                        - E-commerce Transactions
                        <br>
                        - Financial Aggregation / Lead Generation
                        <br>
                        - Investments
                        <br>
                        - Any other product/service offered by Epifi from time to time.
                    </div>
                    <br>
                    •&nbsp;&nbsp;Fi-Federal Savings Account shall mean the savings bank account set up by the user with
                    Federal Bank Limited as part of the registration process for availing the services from Epifi.
                    <br><br>
                    •&nbsp;&nbsp;Service Provider means and includes a company, partnership, or any such entity
                    whose facilities are used by us to provide the services to users throughout the platform.
                    <br><br>
                    •&nbsp;&nbsp;Payment Systems Provider means the banks and other financial institutions (as defined
                    in the Payments and Settlement Systems Act, 2007) with whom the Company has agreed to facilitate
                    Payment Transactions.
                    <br><br>
                    •&nbsp;&nbsp;Politically Exposed Person means an individual who holds (or someone who has been
                    entrusted with) a prominent public position in India.
                    <br><br>
                    •&nbsp;&nbsp;User means any person (“You”) who signs up on the company’s app using the platform,
                    mobile application and/or website. It also applies to those who transact or benefit from any of
                    our services through the platform.
                    <br><br>
                    •&nbsp;&nbsp;Know Your Customer (“KYC”) means the ‘know-your-customer’ requirements prescribed
                    under various laws and regulations issued by the RBI and SEBI (or such other applicable
                    regulators/authorities from time-to-time). To fulfil such KYC requirements, Epifi procures
                    personal identification details from you before any services can be delivered.
                    <br><br>
                    •&nbsp;&nbsp;IRDA means the Insurance Regulatory and Development Authority.
                </div>

                <div class="h2 mt24 mb8">DECLARATION</div>

                <div class="l1">
                    Essentially, by using and signing up for the Services offered by Epifi, I acknowledge and confirm
                    that:
                    <br><br>
                    •&nbsp;&nbsp;I am competent to enter into a contract under the laws of my country.
                    <br>
                    •&nbsp;&nbsp;All information provided by me to Epifi — for registration and investments — is
                    true and correct.
                    <br>
                    •&nbsp;&nbsp;I have read and understood the Privacy Policy.
                    <br>
                    •&nbsp;&nbsp;I have understood and agreed to abide by the T&Cs below.
                    <br>
                    •&nbsp;&nbsp;I am an Indian resident. And as per the applicable Indian tax laws, I’m subject to
                    tax payments and filings in India.
                    <br>
                    •&nbsp;&nbsp;I am not a United States Person (U.S. person), as defined under the laws of the
                    United States of America, or a resident of Canada or any Financial Action Task Force (FATF)
                    declared non-compliant country or territory.
                    <br>
                    •&nbsp;&nbsp;I am not a Politically Exposed Person.
                    <br>
                    •&nbsp;&nbsp;I will only use my Fi-Federal Savings Account as the source of funds for all my investments
                    through the Services.
                </div>

                <div class="break-before h2 mb8">REGISTRATION</div>

                <div class="l1">
                    There’s no point beating around the bush! So, here it goes. Yes, we ask you to provide personal
                    information – only whatever’s required by law. Do make sure that the information provided is
                    accurate and complete. All this data, once secured, forms the crux of the essential services we
                    offer, some of which may have a nominal fee attached to them. And yes, we strive to protect your
                    data at all times. In case you’re wondering how securely we do so, please check our easy-to-read
                    Privacy Policy.
                    <br><br>
                    •&nbsp;&nbsp;You must register with the company to use our services and avail an investment
                    account. During the login/registration process or any time after that, you may be asked to provide
                    accurate and complete personal identification details, including but not limited to your name,
                    address, phone number, email address, face scan (including a liveness check) and the like. In
                    failing to do so, the company may at any time reject your registration and terminate your right
                    to use or access the platform or services.
                    <br><br>
                    •&nbsp;&nbsp;By registering, you certify and warrant that all information you provide, now or in
                    the future, are your own and not someone else’s and is/will be accurate, consistent, and entirely
                    true. You agree to notify us when you stop using a particular contact number or address and provide
                    up to date information at all times.
                    <br><br>
                    •&nbsp;&nbsp;To ultimately use our services, you would also be required to provide other
                    information, including your PF account details (such as UAN, PF account number), salary details,
                    PAN card number, credit score, and permission to access other financial data. By offering you our
                    services or providing our facilities through the Platform, you agree that we may undertake a KYC
                    check using your above information as required under applicable SEBI regulations or other laws.
                    <br><br>
                    •&nbsp;&nbsp;All the information you provide will remain protected and used as per our Privacy
                    Policy and as per the existing legal regulations. The data you provide is not merely to offer
                    current services but also to provide other facilities – which we will introduce from time to time.
                    <br><br>
                    •&nbsp;&nbsp;Epifi reserves the right to update the content, weblink, platform or services to,
                    amongst other things, increase efficiency, optimise user interface, and add new facilities now and
                    then. Update packages may be sent to your device for download and installation. You agree to
                    install the updates on occasion and acknowledge that Epifi will only be able to provide account
                    support if you ensure to install all updates upon receiving such notifications.
                </div>

                <div class="h3 mt24 mb8">OBLIGATIONS AND RIGHTS</div>

                <div class="h2 mb8">USER</div>

                <div class="l1">
                    Here’s an overview of what you should and shouldn’t do while using Epifi’s services. While we
                    encourage you to read the entire section, we’ll try to distil it into a few points here.
                    Fundamentally, you (the user) agree to comply with all the regulations listed by the company,
                    bank, and its third-party service providers. You also consent never to do anything illegal, pay
                    applicable taxes on time, keep sensitive information (like PIN & Passwords) from being shared,
                    and actively prevent data breaches on the platform.
                    <br><br>
                    •&nbsp;&nbsp;You shall act in compliance with all laws, rules, and regulations and shall not
                    carry out any activity, which is banned, illegal, fraudulent, immoral (while using the services).
                    <br><br>
                    •&nbsp;&nbsp;You shall also guard your mobile phone number and other account-related information.
                    You shall remain fully and wholly answerable for:
                    <br>
                    - any unauthorised use of your mobile/laptop email on the platform
                    <br>
                    - all authorised transactions on your mobile/email on the platform
                    <br><br>
                    •&nbsp;&nbsp;You shall take all precautions as may be feasible – or as may be directed by Epifi –
                    to make sure that there is no breach of security. In the unfortunate event that there is a breach
                    of security, you must immediately notify Epifi. You will be liable for losses incurred by Epifi or
                    any other party due to a third party’s use of your account. Also, you will not use any other
                    person’s account.
                    <br><br>
                    •&nbsp;&nbsp;You shall ensure that the money invested is from your own Fi-Federal Savings Account (primary
                    holder’s Fi-Federal Savings Account in case of Investment Account held jointly), from legitimate sources,
                    and remitted through approved banking channels.
                    <br><br>
                    •&nbsp;&nbsp;You shall bear the liability and be responsible for the payment of all applicable
                    taxes and fees. Epifi would not be liable or responsible for paying your taxes and fees
                    regarding any accounts maintained by you.
                    <br><br>
                    •&nbsp;&nbsp;If you suspect that you provided incorrect information to us – you should inform us
                    about it immediately. You can also correct your information with the help of self-help
                    tools/features available on our platform. We will endeavour to correct the error wherever possible
                    on a best-effort basis.
                    <br><br>
                    •&nbsp;&nbsp;The user grants authority to Epifi to process and transmit any request made by them
                    through the mobile app authenticated by their login credentials. As per Epifi’s T&Cs, such
                    requests may be used in executing their instructions regarding purchase/redemption/switch or any
                    other transactions/activities regarding mutual funds on their behalf, as may be instructed by them
                    from time to time.
                </div>

                <div class="h2 mt8 mb8">EPIFI</div>

                <div class="l1">
                    This is a long~ish section where we divulge things of supreme importance for all parties involved.
                    It explains what the must-comply duties are for Epifi. And things that can be considered as specific
                    responsibilities of the bank. Key points include:
                    <br><br>
                    <div class="ml16">
                        - Epifi will comply with all applicable SEBI and RBI regulations.
                        <br>
                        - Though there may be several mutual fund schemes, other market-linked schemes/products on our
                        platform, we do not endorse any in particular and remain neutral.
                        <br>
                        - Users have the complete freedom to pick and choose where to invest.
                    </div>
                    <br>
                    •&nbsp;&nbsp;Epifi shall be responsible for the services directly provided to you. These T&Cs
                    shall govern the delivery and completion of the services. Epifi shall not be liable for any
                    claims which are not directly related to Epifi or the services provided to you.
                    <br><br>
                    •&nbsp;&nbsp;Epifi does not warrant the confidentiality or security of the messages, personal
                    or otherwise, transmitted through the platform. We further make no warranty of any kind
                    concerning the system – its network, function, or performance. We provide no representation for
                    any loss, whenever and howsoever, incurred by the user. Any person who may have suffered damage
                    – resulting from or connected with the services – will not receive a warranty.
                    <br><br>
                    •&nbsp;&nbsp;You acknowledge that the information provided through our content is compiled from
                    various sources, which are beyond our control. Accordingly, Epifi does not warrant the
                    consistency or suitability of the information, and you acknowledge that the content is provided
                    to you on an “as is, with all faults“ basis.
                    <br><br>
                    •&nbsp;&nbsp;We expressly disclaim all warranties, whether express, oral, implied, statutory, or
                    otherwise, of any kind to the users and/or any third party. We also reject any implied warranties
                    of consistency, timeliness, completeness, merchantability, and fitness for a particular purpose,
                    as well as any warranties arising by virtue of custom of trade or course of dealing and any implied
                    warranties of title or non-infringement.
                    <br><br>
                    •&nbsp;&nbsp;We also make no warranty that the content, services, or platform will meet your
                    requirements, be uninterrupted, timely, secure or error-free. We don’t make any warranty on the
                    facilities that may be obtained from the use of the content, weblink, platform, services or the
                    reliability or quality thereof.
                    <br><br>
                    •&nbsp;&nbsp;Epifi does not guarantee or promise any returns on investments made in mutual fund
                    scheme(s) or other market-linked schemes/products. Consequently, past performance does not
                    indicate the future performance of such schemes and may not necessarily provide a basis for
                    comparison with other investments.
                    <br><br>
                    •&nbsp;&nbsp;Epifi does not, and is not obliged to, offer all mutual fund schemes for investment.
                    Furthermore, by limiting the number of schemes on the mobile app, Epifi does not represent the
                    quality, bona fides or nature of any asset management company or mutual fund scheme or any other
                    representation, warranty, or guarantee express or implied.
                    <br><br>
                    •&nbsp;&nbsp;For Investment Accounts held jointly, the mutual fund portfolios maintained by the
                    concerned Asset Management Company (AMC) will also be held jointly. In such cases, all the
                    individuals will have the same authority to operate those folios (any or survivor). Nothing
                    provided in the services, content, or platform will constitute investment advice or
                    recommendations on the suitability of any specific product or security.
                    <br><br>
                    •&nbsp;&nbsp;All content is provided for your convenience and information only. No such content
                    shall constitute an offer to sell or a solicitation of an offer to buy any security or product.
                    <br><br>
                    •&nbsp;&nbsp;Before the execution of any transaction (by you) involving information you received
                    from our content, you should consult your financial, business, tax/accounting advisors, and your
                    attorney concerning the price, suitability, value, risk or other aspects of any stock, mutual
                    fund, security, advisory programme, or other investments.
                    <br><br>
                    •&nbsp;&nbsp;Pricing and other information generated through the use of data or services made
                    available herein may not reflect actual prices or values available in the market at the time
                    provided or when the user may want to purchase or sell a particular security or other instruments.
                </div>

                <div class="h3 mt24 mb8">RIGHT OF USAGE & DATA RIGHTS</div>

                <div class="l1">
                    From breaching the T&Cs to duplicating portions of the platform, and everything in between.
                    <br>
                    Here are absolute NO-NOs that every user should be aware of. Some necessary content permissions
                    that you grant us while signing up for our platform. P.S. Our logo and brand name are ours alone.
                    We’d appreciate it if you don’t mess with it. Thanks!
                    <br><br>
                    •&nbsp;&nbsp;If we reasonably believe that you are violating the T&Cs, we reserve the right
                    to deny you access to the services. In such extreme term-breach scenarios – we may even terminate
                    accounts, remove, or edit content at any time without notice to the user concerned. We may also
                    monitor your use of the services, content, or platform for such a breach or violation.
                    <br><br>
                    •&nbsp;&nbsp;You understand that your personal information (including your credit information)
                    may be transferred to other parties to provide you with our services, and you consent to such
                    transfer. For more information on how securely & respectfully we do this, please refer to our
                    Privacy Policy.
                    <br><br>
                    •&nbsp;&nbsp;You agree that all rights, titles and interests in the content, services, and
                    platform or other intellectual property owned by Epifi remain the sole and exclusive property
                    of Epifi, except as otherwise expressly stated.
                    <br><br>
                    •&nbsp;&nbsp;You acknowledge that you have no ownership rights in the content, services, or
                    platform owned by us or our licensors — and that these remain protected under copyright,
                    trademark, and other intellectual property laws and other applicable laws. You receive no
                    copyright claim (or any other intellectual property right) in or to the content, services, or
                    platform except as provided above. You may use the content, services, or platform only for your
                    personal and non-commercial use.
                    <br><br>
                    •&nbsp;&nbsp;You also agree not to (or allow third parties to) reproduce, duplicate, reverse engineer, modify, transmit, perform, publish, license, create derivative works, copy, sell, resell, transfer, display, or exploit the platform, content, services or any of its portions or any intellectual property owned by and belonging to Epifi (including its trademarks, Epifi and the Epifi logo), without an explicitly granted written permission from the company. You also agree not to use our content or platform for commercial or public purposes in whole (or in part) without explicit written permission from the company.
                    <br><br>
                    •&nbsp;&nbsp;You acknowledge that we may provide certain portions of the content under license from our third-party providers. You also agree to comply with any additional restrictions on your usage that we may communicate to you on occasion, or that are otherwise the subject of an agreement between you and such licensors. The inclusion of any linked website does not imply our endorsement of such a website. We neither control nor have reviewed or approved these websites and will not be responsible for the contents or omissions of any linked website or any links contained therein.
                    <br><br>
                    •&nbsp;&nbsp;You understand and acknowledge that upon using the content, platform, weblink or services, you authorise us to access third party sites when designated by you, on your behalf, to retrieve such information required to register the account requested by you. To this end, you grant us the power to do so and acknowledge and agree that when we access and retrieve information from third-party sites, we act as your agent.

                    <br><br>
                    •&nbsp;&nbsp;We respect your right to ownership of your data (created or stored by you) on the platform. You acknowledge granting Epifi the permission to access, copy, distribute, store, transmit, reformat, publicly display, and perform your content as per these T&Cs. We will make all reasonable efforts to ensure that your information is kept confidential. However, we will not be responsible for any disclosure or leakage of confidential information or loss or damage to your devices due to theft, negligence, or failure on your part to practise safe computing.
                    <br><br>
                    In your use of our content, services, or platform you agree not to:
                    <br>
                    - defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as rights of privacy and publicity) of others users or the company;
                    <br>
                    - publish, post, distribute or disseminate any defamatory, libellous, infringing, obscene, pornographic, indecent, invasive of privacy, racially or ethnically objectionable, disparaging, or unlawful material or information;
                    <br>
                    - upload files that contain software or other material protected by intellectual property laws (or by rights of privacy/publicity) unless you own or control the rights to that or have received all necessary consents and the prior written permission of the company;

                    <br>
                    - upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another’s computer;

                    <br>
                    - conduct or forward surveys, contests, or chain letters;

                    <br>
                    - download or distribute any file posted by another user that you know cannot be legally distributed in such manner.


                    <br><br>
                    •&nbsp;&nbsp;You also agree that you will not use the content, platform, weblink or services, in a manner that could damage, disable, overburden, or impair our server or any network connected to it, or interfere with any other party’s use and enjoyment of the same.

                    <br><br>
                    •&nbsp;&nbsp;You will not attempt to gain unauthorised access to any functions or features, other user accounts, computing systems or networks connected to any Epifi server in any manner, including through hacking, password mining, or any other means. Moreover, you will not obtain or attempt to obtain any materials or information through any means which is not intentionally made available to you.


                    <br><br>
                    •&nbsp;&nbsp;You acknowledge and understand that Epifi is subject to the regulations prescribed by the RBI for account aggregators and takes the role of a ‘financial information user’ as and when required.

                    <br><br>
                    •&nbsp;&nbsp;Epifi will require your consent to receive or share your information through recognised account aggregators to provide services or use your content. You also accept and agree to provide your consent as required by recognised account aggregators under the consent artefact prescribed under the relevant RBI regulations, including:
                    <br>
                    (i) identity of the user and optional contact information;
                    <br>
                    (ii) nature of the financial information requested;
                    <br>
                    (iii) purpose of collecting such information;

                    <br>
                    (iv) identity of the recipients of the information, if any;

                    <br>
                    (v) URL or other address to which notification needs to be sent every time the consent artefact is used to access information;

                    <br>
                    (vi) consent creation date, expiry date, identity and signature/ digital signature of the account aggregator;
                    <br>
                    (vii) And/or any other attribute as may be prescribed by the RBI.
                    <br><br>
                    •&nbsp;&nbsp;You agree to allow recognised financial information providers to securely transfer your information to the account aggregators and share such information with Epifi once the account aggregators obtain a valid consent artefact as per RBI regulations.
                    <br><br>
                    •&nbsp;&nbsp;You agree that the account aggregator may electronically obtain a consent artefact from you. (A consent artefact is a machine-readable electronic document that specifies the scope of data that a user agrees to provide.) The account aggregator will inform you about all the necessary attributes to be contained in the consent artefact. And that this consent artefact would be logged, audited, and verified — as per RBI regulations.

                    <br><br>
                    •&nbsp;&nbsp;You understand that you have the right to revoke consent. Or that you can choose to provide consent for all or part of the information requested in the consent artefact. You also have the right to file complaints with the relevant authorities in case of non-redressal of any grievances.

                    <br><br>
                    •&nbsp;&nbsp;Epifi will not disclose your information in any manner other than as expressly provided in the consent artefact. All sharing of information through account aggregators will be under the technical specifications prescribed by the RBI.

                    <br><br>
                    •&nbsp;&nbsp;In addition to the above, Epifi may gather your information for risk assessment of your profile per the applicable SEBI regulations. For such purpose, Epifi may request details of:
                    <br>
                    (i) age;
                    <br>
                    (ii) investment objective;
                    <br>
                    (iii) income details;

                    <br>
                    (iv) existing investments;

                    <br>
                    (v) risk appetite/tolerance;

                    <br>
                    (vi) liability/borrowings.
                    <br><br>
                    •&nbsp;&nbsp;We may process this information to assess your ability to absorb losses and understand your tolerance for capital loss. We will communicate our assessment of your profile and may identify suitable products or schemes based on your evaluation. We will store details/reports of such risk assessment of your profile for our records in accordance with the applicable SEBI regulations.
                </div>

                <div class="h3 mt24 mb8">NOTICE</div>

                <div class="l1">
                    How this Company may send or receive a legal notice and the various forms of notice dispatch.
                    Also – in the rare occasion that a user isn’t satisfied with our Services – here’s how they should
                    write in.
                    <br><br>
                    •&nbsp;&nbsp;The Company may give notice to the user, under these T&Cs, electronically to the
                    user’s mailbox (regarded as being in writing), or may also deliver the notice by hand or by
                    registered post to the address provided by the user. In case you need to write to us, do so to the
                    Company address. Our office is at:
                    <br><br>
                    <div class="ml16">
                        Epifi Technologies Private Limited,
                        <br>
                        No.293, Indiqube Gamma,
                        <br>
                        154/172, Outer Ring Road,
                        <br>
                        Kadubeesanahalli, Bengaluru,
                        <br>
                        Karnataka 560103.
                    </div>
                    <br>
                    •&nbsp;&nbsp;The Company may provide notice of a general nature regarding the Services,
                    Platform and T&Cs, which apply to all users on its Platform. The Company may also employ customised
                    messages sent to the user over their mobile phone via Short Messaging Service. Such notices are
                    deemed to have been served individually to each user.
                </div>

                <div class="h3 mt24 mb8">DISCLAIMER OF LIABILITY</div>

                <div class="l1">
                    The platform functions round the clock. Yet, Epifi shall not remain accountable for service
                    outages during specific scenarios. Our reasons range from natural disasters to your phone
                    getting stolen and everything in between.
                    <br><br>
                    •&nbsp;&nbsp;Epifi shall not be responsible for any failure on the user’s part to utilise the
                    services if they are not within the geographical range within which the services are offered.
                    Further, under no circumstance shall the company be held liable if the services are not available
                    for reasons including but not limited to:
                    <br><br>
                    <div class="ml16">
                        a. Natural calamities;
                        <br>
                        b. Legal restraints;
                        <br>
                        c. System error;
                        <br>
                        d. Faults in the telecommunication network;
                        <br>
                        e. Other Network failure reasons; or
                        <br>
                        f. Any other cause beyond our control.
                    </div>
                    <br>
                    •&nbsp;&nbsp;The user shall immediately inform the company either through the self-help tools
                    available on the platform (or by contacting our customer support staff) if they have reason to
                    believe that:
                    <br><br>
                    <div class="ml16">
                        a. their mobile phone number has been allotted to another person;
                        <br>
                        b. there has been an unauthorised transaction in their account; or
                        <br>
                        c. that their mobile phone is lost or compromised.
                    </div>
                    <br><br>
                    •&nbsp;&nbsp;In no event shall Epifi be liable for any loss or unavailability of, or damage or
                    alteration to data, unauthorised access of, lost revenue, lost profits, failure to realise
                    expected savings, damage to reputation, business interruption, downtime costs, or any indirect,
                    incidental, consequential, special, punitive, exemplary or any similar type of damages arising
                    out of or in any way related to these T&Cs or the use or the inability to use the content,
                    weblink, services, or platform by the users , even if advised of the possibility of such damages.
                    <br><br>
                    •&nbsp;&nbsp;You also agree that Epifi will not be liable for the loss or damage of confidential
                    information or data of the users arising because of an event or a series of related events that
                    is beyond the control of Epifi including failures or problems with the internet, attempted hacker
                    attacks, hacker attacks, denial of service attacks, virus or malicious software attacks or
                    infections and other events of like nature.
                </div>

                <div class="break-before h3 mt24 mb8">INDEMNITY</div>

                <div class="l1">
                    If we were in kindergarten, this is the part where we tell you, ’Told you so!’.
                    <br>
                    Forced analogy aside, the long sentence below states that you agree to not hold us liable in a
                    court of law.
                    <br>
                    Mostly if – something goes wrong because of your actions on our App or Platform.
                    <br><br>
                    •&nbsp;&nbsp;In consideration of the company providing the services, you agree to indemnify,
                    defend, save, keep indemnified and hold harmless the company (including its affiliates) from
                    (and against) all actions, claims, demands, proceedings, loss, damages, costs, charges and
                    expenses that the company may incur (including reasonable attorney fees, expenses, and other
                    charges), at any time, as a consequence of your acting on or omitting or refusing to act on any
                    instruction(s) given by the company for the use of the services.
                </div>

                <div class="h3 mt24 mb8">GOVERNING LAW</div>

                <div class="l1">
                    Details of the legal system we abide by – this is implied because we are an Indian organisation,
                    but it’s always best to specifically mention things.
                    <br><br>
                    •&nbsp;&nbsp;These T&Cs and the use of our company’s services shall be governed by the laws
                    of the Republic of India. The mere fact that a user can access the services in a country other
                    than India shall not be interpreted to imply that the laws of the said country govern these T&Cs
                    or the services.
                </div>

                <div class="h3 mt24 mb8">CONFIDENTIALITY</div>

                <div class="l1">
                    Never disclose private information that you come across while using our platform; it reflects
                    poorly on all of us. Unless, of course, it’s because of something drastic like a court order!
                    <br><br>
                    •&nbsp;&nbsp;The user agrees not to directly or indirectly disclose or attempt to use or
                    personally benefit from any non-public information that they may learn on the platform or
                    through our services and hold such non-public information strictly on a confidential basis.
                    This obligation shall continue until the non-public information becomes publicly known — if a
                    user is compelled by a court order or any other legal/statutory authority to divulge the
                    company’s confidential information (or the services). In that case, the user agrees to notify
                    and cooperate with the company promptly and diligently in protecting such data to the extent
                    possible under applicable.
                    <br><br>
                    •&nbsp;&nbsp;The company would access, preserve, and disclose the user’s information if
                    required to do so by law, or if the company believes (in good faith) that it is reasonably
                    necessary in order to:
                    <br><br>
                    <div class="ml16">
                        a. respond to claims asserted against the company or to comply with a legal process;
                        <br>
                        b. prevent fraud, risk assessment, investigation, user and platform support, product
                        development, debugging purposes and protecting the rights, property, or safety of the
                        company (and its affiliates), its users, or members of the public.
                    </div>
                </div>

                <div class="h3 mt24 mb8">COMMUNICATION FROM EPIFI</div>

                <div class="l1">
                    Occasionally, we will contact you to convey critical information. No, we promise not to blitzkrieg
                    your device with notifications. We’ll reach out only when essential. This section is regarding that.
                    <br><br>
                    •&nbsp;&nbsp;The user agrees to receive alerts, notifications, offers, discounts, and other such
                    general communication messages via text messages, WhatsApp messages, push notifications, by emails,
                    or various other modes of communication as indicated by Epifi, as a part of the user’s use of the services.
                    <br><br>
                    •&nbsp;&nbsp;The user shall immediately inform the company if the user observes any error in the
                    information provided in the alert. Subsequently, we will make the best possible efforts to rectify
                    the error as early as possible.
                    <br><br>
                    •&nbsp;&nbsp;The user shall not hold the company liable for any loss, damages, claim, or expense,
                    including legal costs, incurred or suffered by the user on account of such facility.
                </div>

                <div class="break-before h3 mt24 mb8">FEES</div>

                <div class="l1">
                    We believe in complete transparency. There are no hidden fees on our platform. Our nominal charges,
                    wherever specified, are for the services. Nevertheless, we do have specific terms regarding them.
                    <br><br>
                    •&nbsp;&nbsp;The company may, if required by law, change any fee or charge or institute new fees.
                    The user agrees to pay all charges so levied – provided there is an intimation of the prices
                    before the change.
                    <br><br>
                    •&nbsp;&nbsp;The company would determine the fee to be paid by a user in its sole discretion, and
                    any fees charged will be inclusive of all applicable taxes, which the user will be liable to pay.
                </div>

                <div class="h3 mt24 mb8">ASSIGNMENT</div>

                <div class="l1">
                    There’s no option to ’pass the parcel’ or ’point fingers’ here! After you sign up to use our
                    services, you are legally bound to comply with our T&Cs.
                    <br><br>
                    •&nbsp;&nbsp;You will not assign or transfer any rights, obligations, or privileges you have
                    under these T&Cs without the prior written consent of Epifi. These T&Cs are binding on your
                    valid successors and permitted assigns. Any assignment or transfer in violation of this clause
                    will be deemed void.
                </div>

            </div>
        </script>
        <!-- End Primary Content Template -->

        <!-- Secondary Content Template -->
        <script id="secondary-content-template" type="x-tmpl-mustache">
            <div class="break-before main-cr">
                {{#data.signature}}
                <img
                    class="signature-photograph"
                    src="data:image/png;base64,{{ data.signature }}"
                    alt="photograph"
                />
                {{/data.signature}}
                {{^data.signature}}
                <div>{{ data.name }}</div>
                {{/data.signature}}
            </div>
        </script>
        <!-- End Secondary Content Template -->

        <script src="https://epifi-icons.s3.ap-south-1.amazonaws.com/pdf-templates/assets/scripts/mustache.js/4.0.1/mustache.min.js"></script>
        <script src="assets/scripts/index.js"></script>
    </body>
</html>
