@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Radomir-Tinkov-Gilroy-Regular.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Radomir-Tinkov-Gilroy-SemiBold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Radomir-Tinkov-Gilroy-Bold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
