/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    -webkit-print-color-adjust: exact;
}

.main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.fw-bold {
    font-weight: bold;
}

.footer-text {
    font-size: 10px;
}
