<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cibil TnCs</title>
        <style>
            body {
                margin: 0 auto;
                max-width: 840px;
            }
            .main {
                padding: 20px;
            }
            .address {
                padding: 10px 0;
            }
            .subject {
                padding: 10px 20px;
            }
            .content {
                text-align: justify;
            }
            li {
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <div class="address">
                To,<br>
                <b>TransUnion CIBIL Limited</b><br>
                <b>[Formerly known as Credit Information Bureau (India) Limited]</b><br>
                19th Floor, One World Centre Tower-2A-2B,<br>
                841 Senapati Bapat Marg,<br>
                Lower Parel,<br>
                Mumbai – 400013
            </div>
            <div class="subject"><b>Sub: Grant of Consent</b></div>
            <p>Dear Sirs,</p>
            <div class="content">
                In connection with submission of the application for my credit information (“Consumer Credit Information”) and other related credit products (Credit Products)
                offered by CIBIL through Epifi Technologies Pvt. Ltd. (referred to as the “Company”) and delivery of the Consumer Credit Information and Credit Products to the Company,
                I hereby acknowledge and agree to the following:
                <ol type="A">
                    <li>
                        The Company is my lawfully appointed agent and he / it has agreed to be my agent for the purposes, including, without limitation, to receive the Consumer
                        Credit Information and Credit Products from TUCL on my behalf and use it and the Company has granted its consent for being appointed for the aforesaid purpose.
                    </li>
                    <li>
                        I grant my unconditional consent to the Company to receive the Consumer Credit Information and Credit Products from TUCL on my behalf and the
                        Company has granted its consent for being appointed for the aforesaid purpose. I hereby represent and acknowledge that the Terms of Understanding
                        in relation to the use of the Consumer Credit Information and Credit Products has been agreed between me and the Company.
                    </li>
                    <li>
                        I hereby expressly grant unconditional consent to, and direct, TUCL to deliver my Consumer Credit Information and Credit Products to the Company on my behalf.
                    </li>
                    <li>
                        I agree that my consent shall be stored by the Company on a permanent basis and shall be verifiable from time to time. I understand that the
                        Company cannot access the Consumer Credit Information for more than 6 months on a single Consumer Consent and the same shall be required to be refreshed every six (6) months.
                        Company can store the Consumer Credit Information only for (i) a limited time period of six months or (ii) till such time the credit information is required to be retained to
                        satisfy the purpose for which it was provided or (iii) until I withdraw my consent to store such Consumer Credit Information, whichever is earlier and thereafter,
                        the stored Consumer Credit Information shall be deleted, purged, expunged by the Company.
                    </li>
                    <li>
                        I shall not hold TUCL  responsible or liable for any loss, claim, liability, or damage of any kind resulting from, arising out of, or in any way related
                        to: (a) delivery of my Consumer Credit Information and Credit Products to the Company ; (b) any use, modification or disclosure by the Company  of
                        the contents, in whole or in part, of my Consumer Credit Information or Credit Products , whether authorized or not; (c) any breach of confidentiality
                        or privacy in relation to delivery of my Consumer Credit Information  to the Company.
                    </li>
                    <li>
                        I acknowledge and accept that TUCL has not made any promises or representations to me in order to induce me to provide my Consumer Credit Information or seek any consent or
                        authorization in this regard.
                    </li>
                    <li>
                        I agree that I may be required to record my consent / provide  consent electronically and in all such cases I understand that by clicking on the
                        "I Accept" button below, I am providing "written  consent " to  Epifi Technologies Pvt. Ltd. authorizing  Epifi Technologies Pvt. Ltd. to obtain my Consumer Credit Information from my personal
                        credit profile from TransUnion CIBIL LIMITED]. I further authorize  Epifi Technologies Pvt. Ltd. to obtain such information solely to confirm my identity and display my Consumer
                        Credit Information to me.  Further in all such cases “By checking this box and clicking on the ‘Authorize button,  I agree to the terms and conditions,
                        acknowledge receipt of TUCL privacy policy and agree to its terms, and confirm my  authorization for  Epifi Technologies Pvt. Ltd. to obtain my Consumer Credit Information and Credit Products.
                    </li>
                    <li>
                        I understand that in order to deliver the product to me, I hereby authorize Epifi Technologies Pvt. Ltd., to obtain my Consumer Credit Information and Credit Products from TUCL.
                    </li>
                    <li>
                        By submitting this registration form, I understand that I am providing express written consent  for  Epifi Technologies Pvt. Ltd. to request and receive information about me from
                        third parties, including but not limited to a copy of my consumer credit report and score from consumer reporting agencies, at any time for so long as I have an
                        active  Epifi Technologies Pvt. Ltd. account. I further authorize  Epifi Technologies Pvt. Ltd. to retain a copy of my information for use in accordance with  Epifi
                        Technologies Pvt. Ltd.'s Terms of Use and Privacy Policy.
                    </li>
                    <li>
                        I understand that the product is provided on an “as-is”, “as available” basis and tucl expressly disclaims all warranties, including the warranties of merchantability,
                        fitness for a particular purpose, and non-infringement.
                    </li>
                    <li>
                        I shall not sue or otherwise make or present any demand or claim, and I irrevocably, unconditionally and entirely release, waive and forever discharge TUCL , its officers,
                        directors, employees, agents, licensees, affiliates, successors and assigns, jointly and individually (hereinafter “Releasee”), from any and all manner of liabilities,
                        claims, demands, losses, claims, suits, costs and expenses (including court costs and reasonable attorney fees) (“Losses”), whatsoever, in law or equity, whether
                        known or unknown, which I ever had, now have, or in the future may have against the Releasee with respect to the submission of my Consumer Credit Information or Credit
                        Products  and / or my decision to provide TUCL with the authority to deliver my Consumer Credit Information  and Credit Products to the Company . I agree to defend,
                        indemnify, and hold harmless the Releasee from and against any and all Losses resulting from claims made against TUCL L by third parties arising from and in connection with this letter.
                    </li>
                    <li>
                        I agree that the terms of this confirmation letter shall be governed by the laws of India and shall be subject to the exclusive jurisdiction of the courts located in
                        Mumbai in regard to any dispute arising hereof. TUCL is entitled to assign its rights hereunder to any third person without taking my prior written consent.
                    </li>
                </ol>
            </div>
        </div>
    </body>
</html>
